{% extends 'tegridy/main.html' %}

<head>
    {% load static %}
</head>
{% block title %}
Home
{% endblock %}

{% block content %}
<div class="imgbox">
    <img class="center-fit" src="{% static 'img/skyline.jpg' %}">
</div>
<h1 style="font-size: 42px;">Integrity Painting of Colorado</h1>
<img src="{% static 'img/logo.jpg' %}">
<h1 style="font-size: 42px;">720-419-5937</h1>
<h2 style="font-size: 32px;">Call from 8AM-8PM Everyday</h2>
<h1 style="font-size: 32px;">Schedule a Free Quote Today</h1>
<p style="font-size: 30; margin-left: 20%; text-align: left;">We are a Colorado Native family-owned business serving customers located anywhere in Colorado.
                        Although founded in 2022, our team boasts 15 years of combined painting experience. 
                        Whether your job is interior, exterior, residential, commercial, big, or small, our skilled and personable painters will deliver the polished results you need.
                        Find out for yourself why integrity is in our name. Call to schedule your free quote.  </p>
{% endblock %}