{% extends 'tegridy/main.html' %}

<head>
    {% load static %}
</head>
{% block title %}
Home
{% endblock %}

{% block content %}
<div class="imgbox">
    <img class="center-fit" src="{% static 'img/skyline.jpg' %}">
</div>
<h1 style="font-size: 42px;">Integrity Painting of Colorado</h1>
<h1 style="font-size: 42px;">(720) 419-5937</h1>
<img src="{% static 'img/logo.jpg' %}">
<p style="font-size: 30;">Here is a paragraph of things to say</p>
<div class="homepics">
    <img src="{% static 'img/IMG_1256.jpg' %}" width="620" height="480">
    <img src="{% static 'img/IMG_1255.jpg' %}" width="620" height="480">
</div>
<div class="homepics">
    <img src="{% static 'img/IMG_1140.jpg' %}"width="620" height="480">
    <img src="{% static 'img/IMG_1145.jpg' %}"width="620" height="480">
</div>
<div class="homepics">
    <img src="{% static 'img/IMG_1146.jpg' %}"width="620" height="480">
    <img src="{% static 'img/IMG_1147.jpg' %}"width="620" height="480">
</div>
<div class="homepics">
    <img src="{% static 'img/IMG_1150.jpg' %}"width="620" height="480">
    <img src="{% static 'img/IMG_4227.jpg' %}"width="620" height="480">
</div>
{% endblock %}