{% extends 'tegridy/main.html' %}

<head>
    {% load static %}
    <style>
        h1 {text-align: center;}
    </style>
</head>
{% block title %}
Home
{% endblock %}

{% block content %}
<img src="{% static 'img/logo.jpg' %}">
<h1 style="font-size: 45px;margin-bottom: 100px;">(720) 419-5937</h1>
<br /> <br /> 
<br /> <br /> 
<h3 style="font-size:20px;"> Marc Stout </h3>
<p style="font-size:18px;margin-left: 25%;">Entire interior painted meticulously;vaulted ceilings, walls, windows/trim, doors.<br /> <br />
     Professional, punctual, and personal.Highly recommend.
</p>
<br /> <br /> 
<br /> <br /> 
<br /> <br /> 
<h3 style="font-size:20px;"> Mary Beth McMillan </h3>
<p style="font-size:18px;margin-left: 25%;">I had my entire main floor painted. I have cathedral ceilings. They were all done professionally.<br /> <br />
     Crisp lines at the ceiling. I also had my kitchen cabinets and island painted.<br /> <br /> 
     I’ve been very pleased with the results.
</p>
    
{% endblock %}