{% extends 'tegridy/main.html' %}

<head>
    {% load static %}
    <style>
        h1 {text-align: center;}
    </style>
</head>
{% block title %}
Home
{% endblock %}

{% block content %}
<img src="{% static 'img/logo.jpg' %}">
<h1 style="font-size: 45px;margin-bottom: 100px;">(720) 419-5937</h1>
<br /> <br /> 
<br /> <br /> 
<h3 style="font-size:20px;margin-left: 22%;text-align: left;"> Marc Stout from Denver </h3>
<p style="font-size:18px;margin-left: 20%; text-align: left;">Entire interior painted meticulously;vaulted ceilings, walls, windows/trim, doors.
     Professional, punctual, and personal.Highly recommend.
</p>
<br /> <br /> 
<br /> <br /> 
<br /> <br /> 
<h3 style="font-size:20px;margin-left: 22%;text-align: left;"> Mary Beth McMillan from Lone Tree </h3>
<p style="font-size:18px;margin-left: 20%;text-align: left;">I had my entire main floor painted. I have cathedral ceilings. They were all done professionally.
     Crisp lines at the ceiling. I also had my kitchen cabinets and island painted.
     I’ve been very pleased with the results.
</p>
    
{% endblock %}